

.map {
  height: 100%;
  width: 100%;
  position:absolute
}
#btn{
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 99999999999;
  background-color: crimson;
}
::ng-deep.popup-btn {
  width: 70px;
  margin: 5px;
  padding: 5px;
  color: #fff;
  background-color: rgb(96, 158, 245);
  border: 1px solid rgb(96, 158, 245);
  border-radius: 6px;
}